h1{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    color: #ff0000;
    padding: 50px;
    text-shadow: 3px 3px black;
}

.gamerules{
    font-family: 'Work Sans', sans-serif;
    text-shadow: 3px 3px black;
    color: white;
    font-size: 20px;
    left: 75px;
}

#myCanvas{
    border: 10rem;
    border: 4px solid white;
    left: 50px;
}

#kick{
    padding: 10px;
    margin: 50px;
}

#restart{
    padding: 10px;
    margin: 50px;
}

@media screen and (max-width: 980px) {
    .column {
        width: 100%;
    }
}